<% if(miniFooter==true){ %> 
  <div class="footer-con-mini">
    Seomun Night Market Ⓒ2016 Daegu traditional Market Support Agency. All Rights Reserved
  </div>
  <% }else{%> 
<div class="footer-con">
  대구 남구 대명로 215 대구광역시상인회관4층, 재단법인 대구전통시장진흥재단ㆍ상권육성팀 Admin
  Seomun Night Market Ⓒ2016 Daegu traditional Market Support Agency. All Rights Reserved
</div>
 <% } %>

