<div class="inner-header">
  <div class="top-header">
    <div class="top-inner-header">
      <div class="button-box">
        <button class="menu" onclick="openNav()"><img src="img/iconmonstr-menu-circle-lined-64.png" alt=""></button>
      </div>
      <div class="logo">
        <a href="/"><img src="img/서문시장로고.png" alt=""></a>
      </div>
      <div class="top-nav">
        <ul>
          <li><a href="#"><img src="img/iconmonstr-magnifier-2-64.png" alt=""></a></li>
          <li><a href="#"><img src="img/iconmonstr-headphones-5-64.png" alt=""></a></li>
          <li><a href="/login"><img src="img/iconmonstr-user-20-64.png" alt=""></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="bottom-header">
    <div class="bottom-inner-header">
      <!-- nav -->
      <div class="nav">
        <div class="gnb">
          <ul>
            <li><a href="#">야시장소개</a></li>
            <li><a href="#">먹거리살거리</a></li>
            <li><a href="#">서문거리예술문화</a></li>
            <li><a href="/noticeList">참여마당</a></li>
            <li><a href="#">입점신청</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>