<div class="container">
  <div class="inner-container">
    <!-- sec1 -->
    <div class="sections sec1">
      <div class="inner-sec">
        <!-- int image -->
      </div>
    </div>
    <!-- sec2 -->
    <div class="sections sec2">
      <div class="inner-sec">
        <div class="con1">
          <div class="con-bottom">
            <div class="banner">
              <div class="left-banner">
                <div class="banner-title">
                  <h2>전 세계인과 함께하는,<br> 대한민국 대표 야시장 '서문시장 야시장'</h2>
                </div>
                <div class="banner-article">
                  <p>서문시장 야시장은 2016년 6월에 개장한,
                    총거리 350M에 달하는 대형 야시장입니다.<br>
                    우리나라 3대 시장인 서문시장의 밤거리를 무대로 하여
                    총 80대의 매대에서 다양한 먹거리, 살거리를 판매하며
                    매일 저녁, 시민과 관광객에게 즐거움을 선사하는
                    복합문화공간입니다.<br> 특히, 먹거리 일색인 타 야시장과는 달리
                    먹거리, 볼거리, 즐길거리의 3대 요소가 연중으로 펼쳐지는
                    마법같은 관광지이기도 합니다.</p>
                </div>
              </div>
              <div class="right-banner">
                <div class="videoback">
                  <video muted autoplay loop>
                    <source
                      src="./video/2022년 최신근황! 서문야시장 맛집 몰아보기 BEST 6 _ Street food korea compliation - night market_1.mp4"
                      type="video/mp4">
                  </video>

                </div>
              </div>
              <!-- <ul>
                      <li><a href="#"><img src="./images/img_smart.jpg" alt=""></a></li>
                      <li><a href="#"><img src="./images/img_tour.jpg" alt=""></a></li>
                    </ul> -->

            </div>
          </div>
          <div class="con-top">
            <div class="title">
              <p>오감만족! 육감충족! 밤의 즐거움이 한자리에!</p>
              <p>서문시장 야시장과 함께하는 夜한 대구여행</p>
            </div>
            <!-- mobile-banner -->
            <div id="slide-b" class="swiper-container banner-mob">
              <ul class="swiper-wrapper">
                <li class="swiper-slide">
                  <a href="">
                    <div class="con con1">
                      <div class="image"><img src="img/market.jpg" alt=""></div>
                      <div class="bottom-con">
                        <p>야시장안내</p>
                        <p>밤마다 펼쳐지는<br>버라이어티한 세상!</p>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="swiper-slide">
                  <a href="">
                    <div class="con con2">
                      <div class="image"><img class="fix" src="img/farmer_1.jpg" alt=""></div>
                      <div class="bottom-con">
                        <p>시장안내</p>
                        <p>대구 전통시장 서문<br>시장을 만나보세요!</p>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="swiper-slide">
                  <a href="">
                    <div class="con con3">
                      <div class="image"><img src="img/food_1.jpg" alt=""></div>
                      <div class="bottom-con">
                        <p>먹거리 살거리</p>
                        <p>눈과 입이 즐거운<br>서문시장야시장</p>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="swiper-slide">
                  <a href="">
                    <div class="con con4">
                      <div class="image"><img src="img/musician_1.jpg" alt=""></div>
                      <div class="bottom-con">
                        <p>볼거리</p>
                        <p>오감만족의 완성!<br>날마다 즐거운 행사</p>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <!-- web-banner -->
            <div class="banner-web">
              <ul>
                <li><a href="#">
                    <div class="con con1">
                      <div class="text">
                        <p>야시장안내</p>
                        <p>밤마다 펼쳐지는<br>
                          버라이어티 한 세상!
                        </p>
                      </div>
                    </div>
                  </a></li>
                <li><a href="#">
                    <div class="con con2">
                      <div class="text">
                        <p>시장안내</p>
                        <p>대구 전통시장<br>
                          서문시장을 만나보세요!
                        </p>
                      </div>
                    </div>
                  </a></li>
                <li><a href="#">
                    <div class="con con3">
                      <div class="text">
                        <p>먹거리 살거리</p>
                        <p>눈과 입이 즐거운<br>
                          서문시장야시장
                        </p>
                      </div>
                    </div>
                  </a></li>
                <li><a href="#">
                    <div class="con con4">
                      <div class="text">
                        <p>볼거리</p>
                        <p>오감만족의 완성!<br>
                          날마다 즐거운 행사
                        </p>
                      </div>
                    </div>
                  </a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- sec3 -->
    <div class="sections sec3">
      <div class="inner-sec">
        <div class="top-con">
          <p>생생 라이브 야시장 갤러리</p>
          <p>SEOMUN NIGHT MARKET GALLERY</p>
        </div>
        <div class="bottom-con">
          <div class="banners">
            <span class="leftarrow">
              <a href="">
                <img src="img/iconmonstr-arrow-left-circle-filled-24.png" alt="">
              </a>
            </span>
            <div class="banner">
              <ul>
                <li><a href="#"><img src="img/1.jpg" alt=""></a></li>
                <li><a href="#"><img src="img/2.jpg" alt=""></a></li>
                <li><a href="#"><img src="img/3.jpg" alt=""></a></li>
                <li><a href="#"><img src="img/4.jpg" alt=""></a></li>
                <li><a href="#"><img src="img/5.jpg" alt=""></a></li>
              </ul>
            </div>
            <span class="rightarrow">
              <a href="">
                <img src="img/iconmonstr-arrow-right-circle-filled-24.png" alt="">
              </a>
            </span>
          </div>
          <div class="items">
            <ul>
              <li><a href="#"><span></span></a></li>
              <li><a href="#"><span></span></a></li>
              <li><a href="#"><span></span></a></li>
              <li><a href="#"><span></span></a></li>
              <li><a href="#"><span></span></a></li>
              <li><a href="#"><span></span></a></li>
              <li><a href="#"><span></span></a></li>
              <li><a href="#"><span></span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- sec4 -->
    <div class="sections sec4">
      <div class="inner-sec">
        <div class="inner-sec1">
          <ul>
            <li><a href="#"><img src="img/My project-1.png" alt=""></a></li>
            <li><a href="#"><img src="img/My project-1 (1).png" alt=""></a></li>
            <li><a href="/noticeList"><img src="img/My project-1 (2).png" alt=""></a></li>
          </ul>
        </div>
        <div class="inner-sec2">
          <ul>
            <li><a href="#"><img src="img/market.png" alt=""></a></li>
            <li><a href="#"><img src="img/free.png" alt=""></a></li>
            <li><a href="#"><img src="img/time.png" alt=""></a></li>
            <li><a href="#"><img src="img/Artboard 1-80.jpg" alt=""></a></li>
          </ul>
        </div>
        <div class="inner-sec3">
          <ul>
            <li><a href="#"><img src="img/footer_banner01.jpg" alt=""></a></li>
            <li><a href="#"><img src="img/footer_banner02.jpg" alt=""></a></li>
            <li><a href="#"><img src="img/footer_banner04.jpg" alt=""></a></li>
            <li><a href="#"><img src="img/footer_banner03.jpg" alt=""></a></li>
            <li><a href="#"><img src="img/footer_banner05.jpg" alt=""></a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
<script src="js/swiper.js"></script>