<div class="join">
    <div class="joinWrap">
        <h1 class="logo"><a href="/"><img src="img/서문시장로고.png" alt=""></a></h1>
        <div class="subCon">
            <h2>회원가입 하기</h2>
        </div>
        <form action="" method="post" onsubmit="return validate()">
            <input class="inputBox" type="text" name="email" id="email" placeholder="이메일 / 예) gildong2@gmail.com">
            <input class="inputBox" type="text" name="name" id="name" placeholder="이름 / 예) 홍길동">
            <input class="inputBox" type="password" name="pw1" id="pw1" placeholder="비밀번호 / 예) asd1234">
            <input class="inputBox" type="password" name="pw2" id="pw2" placeholder="비밀번호 확인 / 예) asd1234">
            <input class="inputBox" type="text" name="birth" id="birth" placeholder="생년월일(8자리) / 예) 19980521">
            <input class="submitBtn" type="submit" value="회원가입">
        </form>
        <script src="js/validation.js"></script>
    </div>
</div>