<div class="login">
  <div class="loginWrap">
    <h1 class="logo">
      <a href="/"><img src="img/서문시장로고.png" alt=""></a>
    </h1>
    <form action="/" method="post">
      <input class="inputBox" type="text" placeholder="서문시장야시장 ID">
      <input class="inputBox" type="text" placeholder="비밀번호">
      <input class="submitBtn" type="submit" value="로그인">
    </form>
    <div class="loginSubWrap">
      <a href="/join">회원가입</a>
      <a href="">ID 찾기</a>
      <a href="">비밀번호 찾기</a>
    </div>
    <div class="kakaoWrap">
      <a href="">
        <span class="kakaoIcon"></span>
        카카오톡으로 로그인
      </a>
    </div>
  </div>
</div>