.writeWrap{
    width: 100%;
}
label{
    display: block;
    margin-bottom: 10px;
}
.writeWrap .inp{
    width: 100%;
    padding: 10px;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    box-sizing: border-box;
    transition: all 0.3s;
    margin-bottom: 30px;
}
.writeInner{
    width: 100%;
    padding: 0 8.3333%;
    box-sizing: border-box;
    margin-top: 50px;
}
.titleW{
    margin-left: 0;
    padding-left: 8.3333%;  
    padding-right: 8.3333%;  
    box-sizing: border-box;
    width: 100%;

    /* max-width: 500px; */
}
.conW{
    padding-left: 8.3333%;   
    padding-right: 8.3333%;   
    box-sizing: border-box;
    width: 100%;

    /* max-width: 700px; */
}
.conW>textarea{
    min-height: 200px;
    resize:none;
}
.categoryW{
    margin-left: 0;
    padding-left: 8.3333%;  
    padding-right: 8.3333%;  
}
.writeBtnW{
    width: 100%;
    padding: 0 8.3333%;
    box-sizing: border-box;
    display: flex;
    justify-content: end;
    gap: 1%;
}
.wb{
    width: 150px;
    height: 35px;
}
.bb{
    width: 150px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.writeN{
    position: absolute;
    right: 10%;


}

.writeN>a{
    padding: 5px 20px;
    background-color: #146356;
    border-radius: 16px;
    color: #fff;
    font-size: 14px;
}